@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --header-bg: #e5e7eb; /*gray-200*/
  --header-border: #d1d5db; /*gray-300*/
  --footer-text: #71717a; /*gray-500*/
  --tab-active-bg: #f3f4f6; /*ray-100*/
  --tab-active-text: #1f2937; /*gray-800*/
  --tab-inactive-bg: var(--header-bg); /*gray-200*/
  --tab-inactive-text: #4b5563; /*gray-600*/
  --tab-inactive-text-hover: var(--header-bg); /*gray-200*/
  --new-tab-btn-text: var(--tab-inactive-text); /*gray-600*/
  --new-tab-btn-text-hover: var(--tab-active-text); /*gray-800*/
  --new-tab-btn-bg-hover: var(--header-bg); /*gray-200*/
  --content-bg: #18181b; /*zinc-900*/
  --content-text: #e4e4e7; /*zinc-200*/
  --footer-bg: #27272a; /*zinc-800*/
  --footer-border: #3f3f46; /*zinc-700*/
  --footer-text: #71717a; /*zinc-500*/
  --term-green: #28cd41;
  --term-blue: #0d7ce3;
  --term-red: #ff3b30;
  --term-yellow: #ffcc00;
  --term-purple: #8557d3;
  --term-gray: #8e8e93;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);

  --header-bg: #27272a; /*zinc-800*/
  --header-border: #3f3f46; /*zinc-700*/
  --footer-text: #71717a; /*zinc-500*/
  --tab-active-bg: #18181b; /*zinc-900*/
  --tab-active-text: var(--tab-active-bg); /*zinc-900*/
  --tab-inactive-bg: var(--header-bg); /*zinc-800*/
  --tab-inactive-text: #a1a1aa; /*zinc-400*/
  --tab-inactive-text-hover: var(--tab-active-bg); /*zinc-900*/
  --new-tab-btn-text: #a1a1aa; /*zinc-400*/
  --new-tab-btn-text-hover: #e4e4e7; /*zinc-200*/
  --new-tab-btn-bg-hover: var(--header-border); /*zinc-700*/
  --content-bg: #f3f4f6; /*gray-100*/
  --content-text: #1f2937; /*gray-800*/
  --footer-bg: #e5e7eb; /*gray-200*/
  --footer-border: var(--footer-bg); /*gray-200*/
  --footer-text: #6b7280; /*gray-500*/
  --term-green: #32d74b; /*success/confirmation*/
  --term-blue: #0a84ff; /*links/information*/
  --term-red: #ff453a; /*errors/warnings*/
  --term-yellow: #ffd60a; /*caution/highlights*/
  --term-purple: #bf5af2; /*special features*/
  --term-gray: #98989d; /*secondary text/comments*/
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-header-bg: var(--header-bg);
  --color-header-border: var(--header-border);
  --color-footer-text: var(--footer-text);
  --color-tab-active-bg: var(--tab-active-bg);
  --color-tab-active-text: var(--tab-active-text);
  --color-tab-inactive-bg: var(--tab-inactive-bg);
  --color-tab-inactive-text: var(--tab-inactive-text);
  --color-tab-inactive-text-hover: var(--tab-inactive-text-hover);

  --color-new-tab-btn-text: var(--new-tab-btn-text);
  --color-new-tab-btn-text-hover: var(--new-tab-btn-text-hover);
  --color-new-tab-btn-bg-hover: var(--new-tab-btn-bg-hover);

  --color-content-bg: var(--content-bg);
  --color-content-text: var(--content-text);
  --color-footer-bg: var(--footer-bg);
  --color-footer-border: var(--footer-border);
  --color-footer-text: var(--footer-text);
  --color-term-green: var(--term-green);
  --color-term-blue: var(--term-blue);
  --color-term-red: var(--term-red);
  --color-term-yellow: var(--term-yellow);
  --color-term-purple: var(--term-purple);
  --color-term-gray: var(--term-gray);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
